.quill {
  margin-top: 1em;
  margin-bottom: 1em;
}

.ql-container, .ql-toolbar {
  background-color: white;
}

.ql-container {
  border-radius: 0 0 4px 4px;
}

.ql-toolbar {
  border-radius: 4px 4px 0 0;
}
