.logo {
  font-size: 2.5em;
  letter-spacing: 0.03em;
  font-weight: 700;
  text-align: center;
  margin: 0.5em 0.25em 0.1em 0.25em;
  color: white;
}

.sidenav {
  overflow: 'auto';
  height: '100vh';
  position: 'fixed';
  left: 0;
}

// a {
//   color: inherit;
// }
